<div id="mentor-application">
    <h3>Apply To Become a Mentor</h3>
    <section>
      {{#liquid-if model.submitted}}
          Thank you for applying! You will be contacted pending the CS4ALL mentor review process.

          Keep learning!
      {{else}}
        {{partial 'partials/application-form'}}
      {{/liquid-if}}
    </section>
</div>