<header>
  <p class="logo">{{#link-to "overview"}}mentors4all{{/link-to}}</p>

  <nav>
    <ul>
      <li><a href="#">Browse Mentors</a></li>
      <li><a href="#">Login</a></li>
    </ul>
  </nav>
</header>

<span class="{{if windowSize.isSmallScreen 'isSmallScreen'}}">
  {{liquid-outlet use='toLeft' reverse='toRight'}}
</span>

<footer>
  <p>mentors for all</p>
</footer>
