<span class="{{if windowSize.isSmallScreen 'isSmallScreen'}}">
<h1 id="title">{{#link-to "overview"}}Mentor Connect{{/link-to}}</h1>
  {{liquid-outlet use='toLeft' reverse='toRight'}}
</span>

<header>
  <h2>mentors4all</h2>
</header>
<!-- <h1 id="title">{{#link-to "overview"}}Mentor Connect{{/link-to}}</h1> -->

{{outlet}}

<footer>
  <p>mentors for all</p>
</footer>
