<div class="page-content">
  <div class="mentor-header">
    <div class="mentor-avatar">
      <img src="http://placehold.it/210x210">
    </div>
    <div class="mentor-description">
      <h1>{{model.firstName}} {{model.lastName}}</h1>
      <p>Threepio! Come in, Threepio! Threepio! Get to the top! I can't Where could he be? Threepio! Threepio, will you come in…</p>
    </div>
  </div>

  <hr>

  <div class="mentor-details">
    <h4>{{model.firstName}} is currently...</h4>
    <div class="mentor-availability available">
      <h1>Available to Mentor</h1>
    </div>

    <div class="mentor-details-2">
      <h4>Expertise</h4>
      <ul>
        <li>K-2</li>
        <li>3-5</li>
        <li>6-8</li>
      </ul>

      <h4>Grades</h4>
      <ul>
        <li>K-2</li>
        <li>3-5</li>
        <li>6-8</li>
      </ul>

      <h4>Chicago Area</h4>
      <ul>
        <li>K-2</li>
        <li>3-5</li>
        <li>6-8</li>
      </ul>
    </div>

    <div class="mentor-details-2">
      <h4>Weekly Availability</h4>
      <ul>
        <li>K-2</li>
        <li>3-5</li>
        <li>6-8</li>
      </ul>
    </div>
  </div>

  <hr>

</div>
