<div class="page-content">
  <div class="page-header">
    <h1>Available Mentors</h1>
  </div>
  <div class="filters">
    <h3>Filters</h3>
    <div class="filter-category">
      <fieldset>
        <form>
          <label><h4>Chicago Area</h4></label>
          <label>{{input type="checkbox" checked=southSide}} South side</label>
          <label><input type="checkbox" class="checkbox">Southwest side</label>
          <label><input type="checkbox" class="checkbox">West side</label>
          <label><input type="checkbox" class="checkbox">Northwest side</label>
          <label><input type="checkbox" class="checkbox">North side</label>
          <label><input type="checkbox" class="checkbox">City Center</label>

        </form>
      </fieldset>
      <fieldset>
        <form>
          <label><h4>Grades</h4></label>
          <label><input type="checkbox" class="checkbox">K - 2</label>
          <label><input type="checkbox" class="checkbox">3 - 5</label>
          <label><input type="checkbox" class="checkbox">6 - 8</label>
          <label><input type="checkbox" class="checkbox">9 - 12</label>
        </form>
      </fieldset>
      <fieldset>
        <form>
          <label><h4>Weekdays</h4></label>
          <label><input type="checkbox" class="checkbox">Monday</label>
          <label><input type="checkbox" class="checkbox">Tuesday</label>
          <label><input type="checkbox" class="checkbox">Wednesday</label>
          <label><input type="checkbox" class="checkbox">Thursday</label>
          <label><input type="checkbox" class="checkbox">Friday</label>
        </form>
      </fieldset>
    </div>
  </div>
  <div class="mentor-list">
    {{#liquid-spacer}}
      {{#liquid-with filteredResults as |mentors|}}
        {{#each filteredResults as |mentor|}}
          {{mentor-profile mentor=mentor}}
        {{/each}}
      {{/liquid-with}}
    {{/liquid-spacer}}
  </div>
</div>
