<div class="home">
  <h1>mentors<span class="green">4</span>all</h1>
  <h4>A curated community of Chicago computer science mentors</h4>
  <div class="audience">
    <p>I’m a computer science professional or higher education student</p>
      {{#link-to "apply"}}
          I want to become a mentor
      {{/link-to}}
  </div>

  <div class="audience">
    <p>I’m a Chicago school teacher with computer science classes</p>
      {{#link-to "mentors"}}
          View available mentors
      {{/link-to}}
  </div>
</div>
