<div class="mentor-feed-card">
  <div class="mentor-primary-info">
    <div class="mentor-avatar">
      <img src="http://placehold.it/100x100">
    </div>
    <div class="mentor-description">
      <h3>{{mentor.firstName}} {{mentor.lastName}}</h3>
      <p>Threepio! Come in, Threepio! Threepio! Get to the top! I can't Where could he be? Threepio! Threepio, will you come in…</p>
      <p><a href="#" {{action toggleProperty "moreInfo"}}>More Info</a></p>
      <!-- <div {{action toggleProperty "moreInfo"}} class="plus">
        <p>More info</p>
      </div> -->
    </div>
  </div>

  <div class="mentor-secondary-info">
    {{#liquid-if moreInfo}}
        <div class="mentor-info-categories">
          <p class="detail-title">Grades</p>
          <ul>
            <li>K-2</li>
            <li>3-5</li>
            <li>6-8</li>
          </ul>
        </div>
        <div class="mentor-info-categories">
          <p class="detail-title">Chicago Area</p>
          <ul>
            <li>North side</li>
            <li>South side</li>
          </ul>
        </div>
        <div class="mentor-info-categories">
          <p class="detail-title">Weekday Availability</p>
          <ul>
            <li>Monday</li>
            <li>Wednesday</li>
            <li>Friday</li>
          </ul>
        </div>
        <div class="view-profile">
          {{#link-to "mentor" mentor.id}}
              <input type="submit" value="View Profile">
          {{/link-to}}
        </div>
    {{/liquid-if}}
  </div>
</div>
