<div id="application-form-description">
    <p>Welcome to mentors4all! Our goal is to match up as many mentors (computer science professionals and
        students)
        with CS teachers as possible to support Chicago's CS4All initiative.</p>
    <p>Mentoring is a great chance to practice what you know!</p>

    <p>Mentors are professionals, undergrads/grads, or other computer science experts that are interested in
        providing in-classroom or out-of-classroom assistance to new CS teachers. A good mentor will model
        computational thinking for the students (ask students the right questions and you don't have to give
        them the answers), and work deliberately with the teacher to improve their knowledge of computer science and
        computational thinking.</p>
    <p>
        <strong>Please Note:</strong>
    <ul>
        <li>please sign up with the intent of coming to a classroom on a regular basis. It takes time to build a
            good
            relationship and really enhance a classroom.
        </li>
        <li>mentors are not meant to supplant the teacher's role during classroom instructional time. Leading an
            activity is
            all right, but the teacher is the authority in their classroom!
        </li>
    </ul>
    </p>
</div>
<form {{action 'submitApplicationForm' on='submit'}}>
    <fieldset>
        <label for="name">First Name</label>
        <input id="name" type="text" required>

        <label for="last-name">Last Name</label>
        <input id="last-name" type="text" required>

        <label for="email-address">Email Address</label>
        <input id="email-address" type="text" required>

        <label for="available-locations">Available Locations</label>
        <input type="checkbox" name="vehicle" value="Bike"> South Side Schools <br/>
        <input type="checkbox" name="vehicle" value="Car"> Southwest Side Schools <br/>
        <input type="checkbox" name="vehicle" value="Car"> West Side Schools<br/>
        <input type="checkbox" name="vehicle" value="Car"> Northwest Side Schools<br/>
        <input type="checkbox" name="vehicle" value="Car"> North Side Schools<br/>
        <input type="checkbox" name="vehicle" value="Car"> City Center<br/><br/>

        <label for="available-locations">I would like to work with students in these grades</label>
        <input type="checkbox" name="vehicle" value="Car"> Kindergarten-2 <br/>
        <input type="checkbox" name="vehicle" value="Car"> 3-5<br/>
        <input type="checkbox" name="vehicle" value="Car"> 6-8<br/><br/>

        <label for="available-locations">I am generally available during the following times</label>
        <input type="checkbox" name="vehicle" value="Car"> Mondays <br/>
        <input type="checkbox" name="vehicle" value="Car"> Tuesdays <br/>
        <input type="checkbox" name="vehicle" value="Car"> Wednesdays <br/>
        <input type="checkbox" name="vehicle" value="Car"> Thursdays <br/>
        <input type="checkbox" name="vehicle" value="Car"> Fridays <br/><br/>

        <label for="available-locations">What is your current occupation?</label>
        <input type="checkbox" name="vehicle" value="Car"> Student <br/>
        <input type="checkbox" name="vehicle" value="Car"> Educator <br/>
        <input type="checkbox" name="vehicle" value="Car"> Professional <br/>
        <input type="checkbox" name="vehicle" value="Car"> Unprofessional <br/><br/>

        <label for="available-locations">Where do you currently work / study?</label>
        <input id='current-employer' name="current-employer" value="Car"> <br/><br/>

        <label for="languages-and-expertise">What languages or curriculums have you?</label>
        <input type="checkbox" name="vehicle" value="Bike"> Code.org (any) <br/>
        <input type="checkbox" name="vehicle" value="Car"> Guts (Computer Science in Science) <br/>
        <input type="checkbox" name="vehicle" value="Car"> Exploring Computer Science <br/>
        <input type="checkbox" name="vehicle" value="Car"> (AP) Computer Science Principles <br/>
        <input type="checkbox" name="vehicle" value="Car"> (AP) Computer Science A<br/>
        <input type="checkbox" name="vehicle" value="Car"> Scratch<br/>
        <input type="checkbox" name="vehicle" value="Car"> CS First<br/>
        <input type="checkbox" name="vehicle" value="Car"> Pencil Code<br/>
        <input type="checkbox" name="vehicle" value="Car"> Python<br/>
        <input type="checkbox" name="vehicle" value="Car"> Java<br/>
        <input type="checkbox" name="vehicle" value="Car"> Ruby<br/>
        <input type="checkbox" name="vehicle" value="Car"> HTML/CSS/Javascript<br/>
        <input type="checkbox" name="vehicle" value="Car"> C/C#/C++<br/>
        <input type="checkbox" name="vehicle" value="Car"> App Inventor/App Lab<br/>
        <input type="checkbox" name="vehicle" value="Car"> Other<br/><br/>

        <label for="available-locations">Please describe your experience working. (Say 'None' if you don't have any.
            Again, this question is background information, and not a requirement to become a mentor.)</label>
        <input id='current-employer' name="current-employer" value="Car"> <br/><br/>

        <label for="languages-and-expertise">I could provide...</label>
        <input type="checkbox" name="vehicle" value="Bike">In-class support to students and teachers (usually sometime
        between 8 AM and 3 PM) <br/>
        <input type="checkbox" name="vehicle" value="Car"> Out-of-class or prep time support (usually during the school
        day) <br/>
        <input type="checkbox" name="vehicle" value="Car">After school support <br/><br/>

        <label for="languages-and-expertise">Why are you interested in becoming a mentor?</label>
        <textarea type="checkbox" name="vehicle" value="Bike"></textarea>

        <label for="languages-and-expertise">How would you describe computer science to a fourth grader?</label>
        <textarea type="checkbox" name="vehicle" value="Bike"></textarea>

        <label for="languages-and-expertise">Briefly describe your areas of Computer Science Expertise.</label>
        <textarea type="checkbox" name="vehicle" value="Bike"></textarea>

        <button type="submit">
            Submit Form
        </button>
    </fieldset>
</form>