@import "bourbon/bourbon";
@import "neat/neat";
@import "reset";
@import "base/base";


$border-grey: #aaacf;

[data-ember-action]{
  cursor: pointer;
}

body{
  background-color: tint($green, 90%);
  width:100%;
  height:100%;
  padding:0;
  margin:0;
  font-family: 'Muli', 'Helvetica Neue', sans-serif;
  // h1{
  //   margin: 0;
  //   padding: .5em 0;
  //   text-align:center;
  //   border-bottom: 1px solid #ccc;
  //   background-color:white;
  // }
    .mentor-profile {
      margin: 1em 2em;
      padding: 1em;
      border-bottom: 1px solid #ccc;
      background-color: white;
      i{
        font-size:2em;
        margin: 0 .5em;
        vertical-align: middle;
      }
      &.is-favorited {
        background-color: green;
        color: white;
      }
    }
}

//
// Header
//
header {
  width: 100%;
  background-color: shade($blue, 50%);
  padding: $small-spacing;

  .logo {
    display: inline;
    font-size: 1.2em;
    color: $green;
  }

  nav {
    display: inline-block;
    float: right;
    ul {
      text-align: right;
      li {
        display: inline-block;
        margin-left: $small-spacing;
      }
    }
  }
}

footer {
  text-align: center;
  padding: $small-spacing;
  font-size: 0.8em;
}

//
//
//
.page-content {
  @include outer-container;
}

.page-header {
  h1 {
    color: shade($blue, 20%);
    padding: $small-spacing 0;
  }
}

//
// Mentor Feed
//
.filters {
  @include span-columns(3);

  h3 { color: shade($blue, 20%) }
  h4 { color: shade($green, 20%) }
}

.mentor-list {
  @include span-columns(9);
}

.mentor-feed-card {
  background-color: #fff;

  .mentor-primary-info {
    .mentor-avatar {
      @include span-columns(3 of 12);
      img {
        width: 100%;
        height: auto;
      }
    }
    .mentor-description {
      @include span-columns(9 of 12);
    }
  }

  .mentor-secondary-info {
    display: inline-block;
    width: 100%;

    .mentor-info-categories {
      @include span-columns(4 of 12);
      @include omega();
    }

    .view-profile {
      @include span-columns(12 of 12);
      text-align: center;
      padding-top: 10px;
    }
  }
}

//
// Mentor Profile
//
.mentor-header {
  @include outer-container;
  padding: $small-spacing 0;
  margin-bottom: $base-spacing;

  h1 { color: shade($blue, 20%) }

  .mentor-avatar {
    @include span-columns(3 of 12);
    img {
      width: 100%;
      height: auto;
    }
  }

  .mentor-description {
    @include span-columns(9 of 12);
  }
}

.mentor-details {
  @include fill-parent();
  padding: $small-spacing 0;
}

.mentor-availability {
  padding: $small-spacing;
  text-align: center;
  color: #fff;
  h1 {
    margin-bottom: 0px;
  }
}

.available {
  background-color: $green;
}

.not-available {
  background-color: tint($green, 20%);
}

.mentor-details-2 {
  @include span-columns(6 of 12);
  padding: $base-spacing 0;

  h4 { color: shade($blue, 20%) }
}

//
// Home
//
.home {
  h1 {
    color: $blue;
    text-align: center;
    font-size: 5em;
    margin-top: $small-spacing;

    .green { color: $green }
  }

  h4 {
    text-align: center;
    margin-bottom: $base-spacing;
  }
}

.audience {
  @include span-columns(6);
  text-align: center;
  margin-bottom: $base-spacing;
  padding: $small-spacing;
  border: 2px solid $green;
  background-color: tint($green, 60%);
}

//
// Utilities
//
hr {
  width: 100%;
  border: 2px solid $blue;
  display: block;
  margin: $base-spacing 0;
}
